@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Archivo", sans-serif;
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: #1c133f;
}
.navbar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}
.navbar i {
  display: none;
}
.link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.link a {
  font-size: 16px;
}
.link button {
  padding: 12px 20px;
  background-color: #1c133f;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
.header h6 {
  margin-top: 80px;
  text-align: center;
  color: #efecfa;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.header span {
  color: #af9fe8;
}
.header h1 {
  color: #efecfa;
  text-align: center;
  margin-top: 30px;
  font-size: 61px;
  font-weight: 700;
  line-height: 72px;
}
.header p {
  text-align: center;
  max-width: 807px;
  font-size: 20px;
  color: #efecfa;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  line-height: 30px;
  margin-top: 15px;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.btn button {
  padding: 15px 20px;
  background-color: #5e3ed1;
  border: none;
  border-radius: 4px;
  color: white;
}
/* HEADER */
/* HERO */
.hero {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.hero h3 {
  font-size: 39px;
  line-height: 42px;
  font-weight: 700;
}
.conatainer {
  max-width: 100%;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.review {
  padding: 20px;
  border: 1px solid#6B677A;
  border-radius: 8px;
}
.star {
  display: flex;
  gap: 20px;
}
.svg {
  width: 64px;
  height: 64px;
  background-color: #efecfa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.plambing h4 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}
.plambing h6 {
  font-size: 13px;
  line-height: 24px;
  color: #6b677a;
  font-weight: 400;
}
.review p {
  font-weight: 400;
  font-size: 16px;
  max-width: 411px;
  color: #6b677a;
  line-height: 24px;
  margin-top: 20px;
}
/* HERO */
/* QUESSTION-SECTION */
.question-section {
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
.question-section h2 {
  font-size: 39px;
  line-height: 42px;
  font-weight: 700;
}
.installers {
  margin-top: 40px;
  max-width: 100%;
  border: 1px solid #6b677a;
  padding: 20px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.lorem {
  max-width: 100%;
  border-bottom: 1px solid #6b677a;
  border-left: 1px solid #6b677a;
  border-right: 1px solid #6b677a;
  padding: 20px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.lorem p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #6b677a;
  max-width: 900px;
}
.installer {
  max-width: 100%;
  border: 1px solid #6b677a;
  padding: 20px;
  margin-top: 20px;
  border-radius: 8px;
}
/* QUESSTION-SECTION */
/* SECTION */
.section {
  max-width: 100%;
  background-color: #efecfa;
  margin-top: 80px;
  display: flex;
  gap: 50px;
  padding: 20px;
  justify-content: center;
}
.rating {
  max-width: 450px;
  margin-top: auto;
  margin-bottom: auto;
}
.img img {
  max-width: 595px;
  height: 323px;
  object-fit: cover;
}
.rating p {
  margin-top: 20px;
  color: #6b677a;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}
/* SECTION */
/* BTN */
.link-btn {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: #1c133f;
}
.post-job {
  max-width: 1011px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-job {
  max-width: 1011px;
  margin-left: auto;
  margin-right: auto;
}
.post-job p {
  font-size: 32px;
  color: white;
  font-weight: 700;
}
.post-job button {
  padding: 15px 20px;
  background-color: #5e3ed1;
  border: none;
  color: white;
  border-radius: 4px;
}
/* BTN */
@media (max-width: 570px) {
  .link {
    display: none;
  }
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header i {
    display: block;
    font-size: 32px;
    color: white;
  }
  .hero h3 {
    text-align: center;
  }
  .conatainer {
    grid-template-columns: repeat(auto-fit, minmax(241px, 1fr));
    max-width: 100%;
    padding-left: 12px;
    padding-right: 12px;
  }
  .section {
    flex-direction: column;
  }
  .img img {
    max-width: 100%;
  }
  .post-job {
    flex-direction: column;
  }
  .post-job p {
    text-align: center;
  }
  .post-job button {
    margin-top: 20px;
  }
}
