@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Archivo", sans-serif;
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: #1c133f;
}
.navbar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}
.navbar i {
  display: none;
}
.link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.link a {
  font-size: 16px;
}
.link button {
  padding: 12px 20px;
  background-color: #1c133f;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
.radu-review {
  max-width: 1010px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.radu-review button {
  padding: 15px 25px;
  border: none;
  background-color: #5e3ed1;
  color: white;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
}
.radu {
  max-width: 343px;
  display: flex;
  gap: 30px;
}
.radu img {
  width: 64px;
  height: 64px;
  object-fit: cover;
  border-radius: 50%;
}
.RaduRuscan h1 {
  font-size: 32px;
  color: white;
}
.RaduRuscan svg {
  margin-top: 5px;
  margin-bottom: 5px;
}
.RaduRuscan h5 {
  font-size: 13px;
  color: white;
  font-weight: 300;
}
/* HEADER */
.hero {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
}
.profile {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid#EFECFA;
}
.profile h4 {
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
}
.profile h4:hover {
  border-bottom: 2px solid #5e3ed1;
  color: #5e3ed1;
  cursor: pointer;
}
.hero h2 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 30px;
}
.svg {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.svg h6 {
  font-size: 16px;
  font-weight: 400;
  color: #6b677a;
}
.svg {
  display: flex;
  align-items: center;
  margin-top: 30px;
  gap: 20px;
}
.svg h6 {
  font-size: 16px;
  font-weight: 400;
  color: #6b677a;
}
.svga {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.svga h6 {
  font-size: 16px;
  font-weight: 400;
  color: #6b677a;
}
.hero h3 {
  font-size: 20px;
  line-height: 30px;
  margin-top: 50px;
  font-weight: 700;
}
.hero p {
  font-size: 16px;
  color: #6b677a;
  line-height: 24px;
  margin-top: 10px;
  max-width: 770px;
}
.main {
  max-width: 100%;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}
.frofile-image img {
  max-width: 100%;
  height: 184px;
  object-fit: cover;
}
@media (max-width: 570px) {
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header i {
    display: block;
    font-size: 32px;
    color: white;
  }
  .link {
    display: none;
  }
  .radu-review {
    flex-direction: column;
  }
  .radu-review button {
    margin-top: 30px;
  }
  .hero {
    padding-left: 12px;
    padding-right: 12px;
  }
  .main {
    grid-template-columns: repeat(2, 1fr);
  }
  .frofile-image img {
    max-width: 100%;
  }
}
