@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0%;
  margin: 0%;
  font-family: "Archivo", sans-serif;
}
.header {
  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: #1c133f;
}
.navbar {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar a {
  font-size: 32px;
  text-decoration: none;
  color: #fff;
}
.navbar i {
  display: none;
}
.link {
  display: flex;
  align-items: center;
  gap: 40px;
}
.link a {
  font-size: 16px;
}
.link button {
  padding: 12px 20px;
  background-color: #1c133f;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}
.header h6 {
  margin-top: 80px;
  text-align: center;
  color: #efecfa;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
}
.header span {
  color: #af9fe8;
}
.header h1 {
  color: #efecfa;
  text-align: center;
  margin-top: 20px;
  font-size: 61px;
  font-weight: 700;
  line-height: 72px;
}
/* HEADER */
/* HERO  */

.hero {
  max-width: 1270px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  justify-content: space-between;
}
.tradespeople {
  max-width: 809px;
}
.tradespeople h4 {
  font-size: 16px;
  color: #6b677a;
  line-height: 24px;
  font-weight: 400;
}
.tradespeople h2 {
  font-size: 25px;
  color: #090615;
  line-height: 32px;
  font-weight: 700;
  margin-top: 15px;
}
.tradespeople h3 {
  font-size: 13px;
  color: #6b677a;
  line-height: 24px;
  font-weight: 400;
}
.tradespeople p {
  font-size: 16px;
  line-height: 24px;
  margin-top: 10px;
  color: #090615;
  font-weight: 400;
}
.tradespeople h5 {
  font-size: 25px;
  margin-top: 80px;
  line-height: 32px;
  color: #090615;
  font-weight: 700;
}
.plumbing {
  max-width: 100%;
  border: 1px solid#6B677A;
  border-radius: 8px;
  margin-top: 40px;
}
.ratiing {
  width: 64px;
  height: 64px;
  background-color: #efecfa;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: flex;
  gap: 20px;
  margin-left: 25px;
  margin-top: 25px;
}

.mh3 h3 {
  font-size: 20px;
  color: #090615;
  font-weight: 700;
  line-height: 24px;
}
.mh3 svg {
  margin-top: 8px;
}
.mh3 h6 {
  font-size: 13px;
  margin-top: 4px;
  color: #6b677a;
  font-weight: 400;
}
.tradespeople p {
  font-size: 16px;
  font-weight: 400;
  color: #6b677a;
  margin-left: 25px;
  margin-top: 25px;
}
.likes {
  max-width: 100%;
  background-color: #efecfa;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 30px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex h1 {
  font-size: 16px;
  font-weight: 400;
  color: #6b677a;
}
.flex span {
  font-size: 16px;
  color: #6b677a;
  font-weight: 400;
}
.Post-jobs {
  background-color: #efecfa;
  height: 415px;
  padding: 20px;
}
.job-search h1 {
  font-size: 29px;
  margin-top: 15px;
}
.verified {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 25px;
}
.svg {
  width: 64px;
  height: 64px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.verified p {
  font-size: 16px;
  max-width: 220px;
}
.btn1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn1 button {
  width: 305px;
  max-width: 100%;
  margin-top: 25px;
  height: 56px;
  background-color: #5e3ed1;
  border: none;
  font-size: 16px;
  color: white;
  border-radius: 4px;
}
/* HERO  */
/* BTN  */
.link-btn {
  margin-top: 100px;

  padding-top: 40px;
  padding-bottom: 40px;
  max-width: 100%;
  background-color: #1c133f;
}
.post-job {
  max-width: 1011px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-job {
  max-width: 1011px;
  margin-left: auto;
  margin-right: auto;
}
.post-job p {
  font-size: 32px;
  color: white;
  font-weight: 700;
}
.post-job button {
  padding: 15px 20px;
  background-color: #5e3ed1;
  border: none;
  color: white;
  border-radius: 4px;
}
/* BTN  */
@media (max-width: 570px) {
  .hero {
    flex-direction: column;
    padding-left: 12px;
    padding-right: 12px;
  }
  .tradespeople h4 {
    text-align: center;
  }
  .link {
    display: none;
  }
  .header {
    padding-left: 12px;
    padding-right: 12px;
  }
  .header i {
    display: block;
    font-size: 32px;
    color: white;
  }
  .header h1 {
    font-size: 39px;
  }
  .link-btn2 {
    flex-direction: column;
  }
  .post-job {
    flex-direction: column;
  }
  .post-job p {
    text-align: center;
  }
  .post-job button {
    margin-top: 20px;
  }
  .Post-jobs {
    margin-top: 40px;
  }
  .job-search {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .btn1 button {
    width: 360px;
  }
}
